<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="group-header">
          <span>x 2</span>
          <span>x 1</span>
        </div>
        
        <h3>
          <span>Completos</span>
          <span>5600</span>
          <span>2500</span>
        </h3>
        <p>Completos con palta, ketchup y mostaza</p>
        <h3>
          <span>hamburguesa</span>
          <span>8000</span>
          <span>4500</span>
        </h3>
        <p>Pan casero, lechuga, tomate y queso</p>
        <h3>
          <span>hamburguesa vegana</span>
          <span>8000</span>
          <span>4500</span>
        </h3>
        <p>Hamburguesa vegana hecha de garbanzo, lechuga, tomate y queso</p>
      </div>

</body>
</html>