
.fondoContainer{
font-family: $Textogeneral ;
top:$Top;
text-align: center;
background-color: transparentize($color: #f7fb05, $amount:0.2);
}

.casilla{
    margin-top: 4em;
    font-family: $Textogeneral;
    text-align: center;
    margin-left: 2em;
    color: blanchedalmond;

    h3{
        font-size: 30pt;
    }
}

.btn-group, .btn,  .btn-default, .button, .dropdowm-toggle, .dropdowm, .dropdown-menu {
    color: blanchedalmond;
    text-align: center;

}

.ingredientes div{
    padding: 1em;
    text-align: center;
    border: 3px solid white;
}

.saludoInicial{
    font-family: 'Handlee', cursive;
    font-size: 20pt;
    color: blanchedalmond;
    text-transform: uppercase;
    margin-top:4em;
}

#resultado{
    @extend .saludoInicial;
    margin-top:0.2em;
}

