$Top:3em;
$fontText: 'Marck Script', cursive;
$Textogeneral : 'Handlee', cursive;
   


@mixin bg-images {
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    }
